@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 30, 44, 55;
}

.slots-border {
  border: 5px solid;
  border-image: linear-gradient(to right, rgb(23, 246, 14), rgb(154, 54, 54)) 1 / 2 / 2 stretch;

}

.fontcolor {
  color: aliceblue;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
